# Configuración de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mapa_emergencias
DB_USER=postgres
DB_PASSWORD=password

# Configuración del servidor
PORT=8080
NODE_ENV=development

# Configuración de JWT
JWT_SECRET=tu_jwt_secret_aqui

# Configuración de Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui
CLOUDINARY_API_KEY=tu_api_key_aqui
CLOUDINARY_API_SECRET=tu_api_secret_aqui
